<div class="container">
  <div class="flex m-10">
    <h1 class="text-lg">{{ "name" | transloco }}</h1>
    <div class="py-1/2 bg-slate-600 w-80 rounded-md m-auto">
      <div class="w-80 text-center container rounded mx-auto">
        <button
          class="rounded-md transition-all duration-200"
          [ngClass]="{
            'bg-gray-300 text-slate-900': !isFavoriteMode(),
            'bg-transparent text-white': isFavoriteMode()
          }"
          (click)="isFavoriteMode.set(false)"
        >
          {{ "Movies Lists" }}
        </button>
        <button
          class="rounded-md transition-all duration-200"
          [ngClass]="{
            'bg-gray-300 text-slate-900': isFavoriteMode(),
            'bg-transparent text-white': !isFavoriteMode()
          }"
          (click)="isFavoriteMode.set(true)"
        >
          {{ "Favorites Movies" }}
        </button>
      </div>
    </div>
    <app-language-selector></app-language-selector>
  </div>

  <form class="w-full border-none mx-auto p-2 bg-base-100 text-white">
    <div class="flex flex-col sm:flex-row sm:space-x-4 w-full justify-center">
      <div class="sm:w-1/2">
        <label for="title" class="block text-sm font-medium">Title</label>
        <div>
          <input
            #titleFilter
            (input)="filter(titleFilter.value, yearFilter.value)"
            type="text"
            name="title"
            id="title"
            autocomplete="title"
            placeholder="Enter movie title"
            class="input w-full"
          />
          <!-- class="input block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" -->

        </div>
      </div>

      <div class="sm:w-1/2">
        <label for="releaseDate" class="block text-sm font-medium"
          >Release year</label
        >
        <div>
          <input
            type="text"
            name="releaseDate"
            id="releaseDate"
            placeholder="Enter release year"
            autocomplete="releaseDate"
            #yearFilter
            (input)="filter(titleFilter.value, yearFilter.value)"
            class="input w-full"
          />
                      <!-- class="input block w-full rounded-md px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" -->
        </div>
      </div>
    </div>
  </form>
  <ul class="list !flex bg-base-100 rounded-box shadow-md w-full">
    @if(isFavoriteMode()) {
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
      Most favorites watched movies this week
    </li>
    @if (favoriteService.getFavorites().length <= 0) {
    <li><p class="text-center my-5">Nothing to display</p></li>
    } @for(favoriteMovie of favoriteService.getFavorites(); track
    favoriteMovie.id) {
    <li class="list-row !flex">
      <app-movie-item
        class="w-full"
        [movie]="favoriteMovie"
        appHighlight
        [isFavorite]="favoriteService.isFavorite(favoriteMovie)"
        (toggleFavorite)="favoriteService.toggleFavorite(favoriteMovie)"
      />
    </li>

    } } @else {
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
      Most watched movies this week
    </li>
    @for(movie of movies$ | async; track movie.id) {
    <li class="list-row flex !important">
      <app-movie-item
        class="w-full"
        [movie]="movie"
        appHighlight
        [isFavorite]="favoriteService.isFavorite(movie)"
        (toggleFavorite)="favoriteService.toggleFavorite(movie)"
      />
    </li>

    } }
  </ul>
</div>
