<div class="container">
  <app-language-selector></app-language-selector>
  @let movie = movie$ | async;
  <h1>{{ movie?.title }}</h1>
  <div class="details">
    @if (movie?.poster) {
    <img [ngSrc]="movie?.poster || ''" width="300" height="100" alt="Poster" />
    }
    <div>
      <p>
        <span>Summary: </span>
        <span>{{ movie?.summary }}</span>
      </p>
    </div>
  </div>
  <table class="horizontal">
    <caption>
      Details
    </caption>
    <thead>
      <tr>
        <th>Box office</th>
        <th>Budget</th>
        <th>Duration</th>
        <th>Producers</th>
        <th>Cinematographers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Box office">
          {{ movie?.box_office ?? "" | millionDollar }}
        </td>
        <td data-label="Budget">{{ movie?.budget ?? "" | millionDollar }}</td>
        <td data-label="Duration">
          {{ movie?.duration ?? "" | minToDuration }}
        </td>
        <td data-label="Producers">{{ movie?.producers?.join(", ") }}</td>
        <td data-label="Cinematographers">
          {{ movie?.cinematographers?.join(", ") }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
